body {
    background-color: #ff0000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    display: flex;
    justify-content:center;
    align-items: flex-end;
    background-color: #45a1ff;
    color: #fff;
}